@model IEnumerable<ProductServiceModel>

@{
    ViewBag.Title = "My Product";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

@if(!Model.Any())
{
    <h2 class="text-center">You have no product yet!</h2>
}

<div class="row">
    @foreach (var product in Model)
    {
        <partial name="_ProductPartial" model="@product" />
    }
</div>